<%- include('parts/head', {title: 'Pizzaria Fantástica'}); %>

    <form>
        <input type="text" name="busca" placeholder="Qual pizza você procura?" autocomplete="off">
        <button type="submit">Buscar</button>
    </form>
    <main>
        <article>
            <img src="<%= pizza.img %>" alt="<%= pizza.nome %>">
            <button>+ Add</button>
            <div>
                <%= pizza.nome %>
            </div>
            <span>
                <%= pizza.preco.toLocaleString('pt-br', { style: 'currency', currency: 'BRL' }) %>
                </span>
        </article>
        <ul>
            <% for (item of pizza.ingredientes) { %>
                <li>
                    <%= item %>
                </li>
                <% } %>
        </ul>

    </main>

    <!-- # Fazer um link em cada article da index.ejs apontando para a rota /pizzas/:id

# fazer com que a pizza.ejs fique BONITA

#FAZER COM QUE A ERRO.EJS TAFIQUE BONITA -->

    <%- include('parts/foot'); %>